body
{
	display: flex;
	justify-content: center;
	margin: 0;
}
.body
{
	background-color: rgba(211, 213, 214, 0.918);
}
.a
{
	font-family:'Times New Roman';
	font-size: 20px;
	margin: 0 50px 0 0;
}
.slideshow-container
{
	width: 20vw;
	position: relative;
	margin: auto;
	color: black;
}
.mySlides
{
	margin:0;
	display: none;
	border: solid 8px;
	border-color: darkslategrey;
	opacity: 0.5;
}
.fade 
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
img 
{
	vertical-align: middle;
}
.imgfade
{
	width:100%;
	opacity: 0.5;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 5%;
	color: white;
	font-size: 3vw;
	transition: 1s ease;
  }
.next:hover
{
	color: #ff751a;
	text-decoration: none;
	opacity: 100%;
}
.prev:hover
{
	color: #ff751a;
	text-decoration: none;
	opacity: 100%;
}
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
	background-color: black;
	opacity: 50%;
  }
  .prev {
	left: 0;
	border-radius: 3px 0 0 3px;
	background-color: black;
	opacity: 50%;
  }

  .numbertext {
	color: grey;
	font-size: 15px;
	padding:20px 30px;
	position: absolute;
	top: 0;
	left: 0;
  }

  .dot {
	cursor: pointer;
	height: 1vw;
	width: 1vw;
	margin: 1vw 2px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .ativo, .dot:hover {
	background-color: #ff751a;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  @media only screen and (max-width: 1200px) {
	#gridmain{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 
		"box1"
		"box2"
		"box3";}
	.subtitlephilo
	{
		font-size: 5vw;
	}

}
  .menuside
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;		
	transition: 0.5s;
	padding-top: 60px;
	opacity: 100%;
	font-family: 'Times New Roman', Times, serif;
}
.menuside a {
	padding: 8px 8px 30px 32px;
	text-decoration: none;
	font-size: 30px;
	color: grey;
	display: block;
	transition: 0.3s;
  }
  
  .menuside a:hover {
	color: #ff751a;
  }
  .menuside .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  .dark
  {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: 0;
  }
  
  @media screen and (max-height: 450px) {
	.menuside {padding-top: 15px;}
	.menuside a {font-size: 18px;}
  }
  .center
  {
	position: relative;
	padding: 5% 5% 0 5%;
	margin-top: -5%;
	font-family: 'Times New Roman', Times, serif;
	font-size: 5vw;
	text-align: center;
  }
  .centro
  {
	margin: 2% 0 0 0;
	justify-content: center;
	align-items: center;
  }
ul li a:hover
{
	color: #ffb17d;
	transition: 1s;
}
#ativo2
{
	color: #ff751a;
}
#ativo2:hover
{
	color: #ffb17d;
	transition: 1s;
}
.navbarra
{
	margin: 0 0 5% 0;
}
.big
{
	width: 100%;
	height: 100%;
	margin: 0;
}
.span1
{
	font-size:30px;
	margin-right:5%;
	color:darkslategrey;
	text-decoration: none;
	cursor:pointer;
}
blockquote {
	position: relative;
	top: 30%;
	width: 100%;
	font-size: 3.5vw;
	line-height: 6vw;
	padding-left: 40px;
	font-style: italic;
  }
  
  blockquote span {
	display: block;
	text-align: right;
	font-size: 2vw;
	margin-top: 1%;
	text-transform: uppercase;
  }
  
  blockquote.tweet-this:hover p {
	color:#ff751a;
	transition: 0.2s ease;
  }
.fontbanner {
	font-size:1.25vw;
	font-family:'Times New Roman', Times, serif;
}
.bannerimg {
	width: 100%;
	height: 100%;
	margin-bottom: 5%;
	border: solid darkslategray 4px;
}
.banner {
    width:20vw;
	height: 25vw;
	text-align: center;
	margin-left: 5%;
	margin-bottom: 40%;
}
h4
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 1vw;
}
.conte
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.p
{
	text-align: justify;
	font-size: 1.5vw;
	font-family: 'Times New Roman', Times, serif;
}
.gridmain
{
	height:40vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"box1 box2"
	"box3 .";
}
.gridmain div
{
	height: 95%;
	width: 95%;
	display: flex;
	justify-content: flex-end;
}
.gridmain a
{
	text-decoration: none;
	color:black;
}
.gridmain a:hover
{
	opacity: 80%;
	transition: 0.5s ease;
	text-decoration: none;
	color:rgb(41, 41, 41);
}
.box1{
background-color: dimgrey;
border:ridge rgb(94, 94, 94) 0.7vw;
grid-area: box1;
}
.box2{
background-color: dimgrey;
border:ridge rgb(94, 94, 94) 0.7vw;
grid-area: box2;
}
.box3{
background-color: dimgrey;
border:ridge rgb(94, 94, 94) 0.7vw;
grid-area: box3;
}
.gridimg
{
	width: 60%;
	height: 100%;
}
.title
{
	text-align: center;
	margin-bottom: 10%;
	font-size: 4vw;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
}
.context
{
	max-width: 60%;font-size: 1vw;padding: 0 0 5% 0;
}
.meimg
{
	max-width: 28%;float: right;margin-top: 13vw;padding: 1vw;
}
.subtitle
{
	text-align: center;margin-bottom: 3%;font-size: 2.3vw;font-style: italic;
}
.ulabout
{
	font-size: 1.5vw;font-family: 'Times New Roman', Times, serif;
}
.socials
{
	color: #ff751a;font-size: 1.5vw;
}
.socialsa
{
	font-size: 1vw;color: white;
}
.dots
{
	text-align:center
}
.bannertitle
{
	font-size: 2vw;
}
.indexphrase
{
	max-width: 70%;font-size: 1vw;
}
.box1 div
{
	display: block;
	font-family: 'Times New Roman', Times, serif;
	padding: 3%;
}
.box2 div
{
	display: block;
	font-family: 'Times New Roman', Times, serif;
	padding: 3%;
}
.box3 div
{
	display: block;
	font-family: 'Times New Roman', Times, serif;
	padding: 3%;
}
.subtitlephilo
{
	font-style: italic;
}
.mv
{
	height: 100%;
}
@media only screen and (max-width: 1000px) {
	.prev, .next,.text {font-size: 1vw}
	.a {font-size: 3.5vw;margin: 1vw;}
	.span1{display: none;}
	.navbarra{height: 20%;width: 100%;justify-content: center;align-items: center;}
	#indexphrase{max-width: 90%;}
	.conte blockquote{font-size: 5vw;}
	.context h1{font-size: 8vw;}
	.context p{font-size: 4vw;}
	.slideshow-container{max-width: 35%;}
	.numbertext{font-size: 1vw;left:-8%}
	.conte div{width:40vw;height: 50vw;margin-left: 17%;}
	.conte div h4{font-size: 5vw;}
	.conte div h6{font-size: 3vw;}
	#bannerdiv{display: block;}
	#centertitlemv{font-size: 10vw;}
	.slideshow-container{width: 40vw;margin-right: 38vw;padding:0;}
	.slideshow-container div{width: 50vw;margin: 0;}
	.next, .prev {display:none}
	.dot{width: 3vw;height: 3vw;}
	#me{max-width: 50vw;float: none;margin: 0;padding: 5vw;}
	.context h4{font-size: 6vw;}
	#ulabout{font-size: 4vw;}
	.socialsa{font-size: 2vw;}
	.socials{font-size: 4vw;}
  }