.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.loadable {
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
img {
  display: block;
  transition: height 500ms ease-in-out;
}
.mainSection {
  position: relative;
}

.custom-shape-divider-bottom-1662758412 {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1662758412 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 60px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1662758412 .shape-fill {
  fill: #000000;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
